{%extends 'base.html'%}

{% block title %}Login{% endblock %}
{% block content %}
  {% if user.is_authenticated %}

    <div class="">
      <h1>Signup</h1>
      <form class="" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="signup">
        <input type="text" name="username"><br>
        <input type="text" name="password" value=""><br>
        <button type="submit" name="button">Signup</button><br>
      </form>
    </div>
  {% else %}
    <div class="">
      <h1>Login</h1>
      <form class="" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="login">
        <input type="text" name="username"><br>
        <input type="text" name="password" value=""><br>
        <button type="submit" name="button">Login</button><br>
      </form>
    </div>

  {% endif %}
{% endblock %}
